@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
	font-family: 'Roboto', 'Noto Sans KR';
	letter-spacing: -0.02rem;
	padding: 1rem;
}

h2 {
	color: green;
}

.profile>img {
	width: 30px;
	height: 30px;
	border-radius: 40%;
	object-fit: cover;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.content, h3 {
	margin-left: 3rem;
	padding-left: 1rem;
}

h3 {
	padding: 1rem;
}

ul {
	list-style: none;
	width: 57rem;
}

ul .row {
	display: flex;
}

ul .row>li {
	padding: 0.5rem 0.02rem;
	width: 15rem;
	border-bottom: 1px dashed gray;
}

.row>li:first-child {
	width: 2rem;
}

.row>li:nth-child(3) {
	width: 10rem;
}

select, input {
	padding: 0.5rem 0.02rem;
	width: 12rem;
}

button {
	padding: 0.4rem 0.02rem;
	width: 8rem;
}

.search {
	padding: 0.5rem 0.02rem;
}